
/* this is the title */ 

.line{
  border-top: 1px solid darkred;
  padding-bottom: 2px;
  width: auto;
}

div.title{
		text-align: left;
}
}

div.text {
	text-align: center;
}

text {
	text-decoration: none;
  font-family: "arial";
	font-size: 19px;
	letter-spacing: .1rem;
	color: darkred;
	text-align: center;
	align-content: center;
}

a 
{
	text-decoration: none;
  font-family: "arial";
	font-size: 16px;
	color: darkred;
	text-align: center;
	align-content: center;
	padding-left: 2%;
	padding-top: 5px;
}

a.message:hover{
	color: white;
}



a:hover{
	text-decoration: underline;
}

b
{
  font-family: "arial";
	font-size: 14px;
	color: black;
	letter-spacing: .1rem;
	font-weight: 200;
}


div.c{
	text-align: center;
}

c
{
	display: inline-block;
	width: 28%;
  font-family: "times new roman";
  letter-spacing: .065rem;
	font-size: 12px;
	color: black;
	text-align: center;
}


body {
	background-color: rgb(255, 245, 235, 1.0);
	text-align: center;
	font-family: "arial";
	background-repeat: no-repeat;
	font-size: 12px;
	padding:2px;
}

h3 {
	text-decoration: none;
  font-family: "arial";
	font-size: 16px;
	color: darkred;
	text-align: center;
	align-content: center;
	padding-left: 2%;
	padding-top: 5px;
}

p{
	font-family: arial;
   letter-spacing: 0.05em;
   word-spacing: 0.1em;
   font-size: 5.5em;
   font-style: italic;
   line-height: 5.5rem;
   padding: 10px 2px;
}

div.table{
	text-align: right;
}


table {
  font-family: arial;
  color: white;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid;
  text-align: center;
  padding: 8px;
  border-color: darkred;
  background-color: rgb(255, 245, 235, 1.0);
}


th:hover {
  color: white;
  background-color: darkred;
}

td:hover {
  color: white;
  background-color: darkred;
}





#slider {
   margin: 0 auto;
   width: 550px;
   height: 550px;
   max-width: 100%;
   max-height: 100%;
   text-align: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}

#slides {
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slide5:checked ~ #slides .inner {
   margin-left: -400%;
}
#slide6:checked ~ #slides .inner {
   margin-left: -500%;
}
#slide7:checked ~ #slides .inner {
   margin-left: -600%;
}
#slide8:checked ~ #slides .inner {
   margin-left: -700%;
}

#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 800%;
   line-height: 0;
   height: 550px;
}
#slides .slide {
   z-index: 2;
   width: 12.5%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}


#controls {
   margin: -260px 0 0 0;
   width: 100%;
   height: 150px;
   z-index: 0;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(6),
#slide6:checked ~ #controls label:nth-child(7),
#slide7:checked ~ #controls label:nth-child(8),
#slide8:checked ~ #controls label:nth-child(1) 
{
   background: url("arrow-RIGHT.svg") no-repeat;
   float:right; 
   margin: 0 -50px 0 0;
   display: block;
}


#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(8),
#slide3:checked ~ #controls label:nth-last-child(7),
#slide4:checked ~ #controls label:nth-last-child(6),
#slide5:checked ~ #controls label:nth-last-child(5),
#slide6:checked ~ #controls label:nth-last-child(4),
#slide7:checked ~ #controls label:nth-last-child(3),
#slide8:checked ~ #controls label:nth-last-child(2) {
   background: url("arrow-LEFT.svg") no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}


@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(5),
   #slide5:checked ~ #controls label:nth-child(6),
   #slide6:checked ~ #controls label:nth-child(7),
   #slide7:checked ~ #controls label:nth-child(8),
   #slide8:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(5),
   #slide5:checked ~ #controls label:nth-last-child(6),
   #slide6:checked ~ #controls label:nth-last-child(7),
   #slide7:checked ~ #controls label:nth-last-child(8),
   #slide8:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
      backface-visibility: hidden;
   }
}


.slide-content {
 z-index: 8;
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.slide-content .texty {
   font-size: 40px;
   opacity: 0; 
   z-index: 9;
   padding-top: 200px;
   padding-bottom: 350px;
   position: absolute; /* Position the background text */
   background: rgb(255, 245, 235, 0.5); 
   line-height: 1.5em;
   top: 0; 
   width: 100%; 
}

.slide-content .texty:hover {
   opacity: 1; 
   cursor: pointer;




	






	


